<div class="container">
  <div class="row">
  	<div class="span4">
  		<div class="light-content">
  			<h3>Como importar a planilha</h3>
  		</div>
  	</div>
  	<div class="span8">
  		<div class="light-content">
  			<h2>Ajuda e Suporte</h2>
				
  		</div>
  	</div>
  </div>	
</div>